/*
Copyright 2013 Martin Schnabel. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/
body {
	padding: 0; margin: 0;
	font-family: "Ubuntu Mono" monospace;
	font-size: 16px;
	line-height: 1.555em;
}
ul { padding: 0; margin: 0; list-style: none;}
a { text-decoration: none; cursor: pointer;}
[class^="icon-"], a [class^="icon-"] {
	display: inline-block;
	width: 16px;
	text-align: center;
}
#view {
	position: absolute;
	top:2em; left:0; right:0; bottom: 0;
	overflow: hidden;
	color: #E6E1DC;
	background-color: #202020;
	text-shadow: 0 1px 2px #202020;
}
#view a {
	color: #CFAEA9;
}
#overview {
	padding: 0 0 0 10px;
	margin: 0 0 0 80px;
	position: absolute;
	top:0; left:0; right:0; bottom: 0;
}
#overview > div {
	overflow: auto;
	position: absolute;
	top:0; left:0; right:0; bottom: 0;
}
#overview ul {
	background-color: #282828;
	-webkit-box-shadow: inset 0 0 10px black;
	-moz-box-shadow: inset 0 0 10px black;
	-o-box-shadow: inset 0 0 10px black;
	box-shadow: inset 0 0 10px black;
	padding-left: 10px;
}
#overview .about {
	position: absolute;
	left:0; right: 0; bottom: 0;
	height: 2em;
	text-align: right;
	margin-right: 20px;
	font-size: 12px;
}
#overview a:hover {
	color: white;
}
