/*
Copyright 2013 Martin Schnabel. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/
.file {
	position: absolute;
	top:0; left:0; right:0; bottom: 0;
}
.file header {
	height: 2em;
	margin: 0 0 0 56px;
}
.file ul {
	background-color: #282828;
	-webkit-box-shadow: inset 0 0 10px black;
	-moz-box-shadow: inset 0 0 10px black;
	-o-box-shadow: inset 0 0 10px black;
	box-shadow: inset 0 0 10px black;
	padding: 0 0 0 10px;
	margin: 0 0 0 80px;
	position: absolute;
	top:2em; left:0; right:0; bottom: 0;
	overflow: auto;
}
.file .ace_editor {
	position: absolute;
	top:2em; left:0; right:0; bottom: 0;
	line-height: 1.333em;
	text-shadow: none;
	font-size: 14px;
}