/*
Copyright 2013 Martin Schnabel. All rights reserved.
Use of this source code is governed by a BSD-style
license that can be found in the LICENSE file.
*/
body {
	padding: 0; margin: 0;
	font-family: "Ubuntu Mono" monospace;
	font-size: 16px;
	line-height: 1.555em;
}
ul { padding: 0; margin: 0; list-style: none;}
nav ul ul {display: inline-block;}
nav li { margin: 3px; display: inline-block;}
a { text-decoration: none;}
pre { padding-left: 15px;}

#app {
	position: absolute;
	top:0; left:0; right:0; bottom: 0;
	overflow: hidden;
}
#app > nav {
	height: 2em;
	background-color: #F0F0F0;
	box-shadow: inset 0 0 10px #D0D0D0;
	overflow: auto;
	color: #555555;
}
#app > nav a, #app > nav a:visited {
	color: inherit;
}
#app > nav a:hover {
	color: #000000;
}
#app > nav .offline {
	color: #F02000;
}
#app > nav a.active {
	text-decoration: underline;
}
#app > nav a i {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	transform:scale(1);
}
#app > nav a.active i {
	color: #000000;
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	-ms-transform:scale(1.2);
	transform:scale(1.2);
	text-decoration: none;
}
#app > nav .close {
	color: #BBBBBB;
	font-size: 12px;
}
#app > nav .close:hover {
	color: #222222;
}
#app > div {
	position: absolute;
	top:2em; left:0; right:0; bottom: 0;
	color: #E6E1DC;
	background-color: #202020;
	box-shadow: inset 0 0 25px #000000;
	text-shadow: 0 1px 2px #202020;
	overflow: hidden;
}
#app > div a {
	color: #CFAEA9;
}

.report.ok, .report.ok .status {
	background-color: rgba(100, 200, 100, 0.75);
}
.report.fail, .report.fail .status {
	background-color:  rgba(200, 100, 100, 0.75);
}
.report header {
	background-color: rgba(50, 50, 50, 0.50);
}
.report .status {
	display: inline-block;
	width: 40px;
	padding-left: 5px;
}
.report .mode {
	display: inline-block;
	width: 60px;
	padding-left: 5px;
}
.report pre {
	background-color: rgba(50, 50, 50, 0.75);
	margin: 0 0 0 45px;
	padding-left: 10px;
}
.file {
	position: absolute;
	top:0; left:0; right:0; bottom: 0;
}
.file > header {
	height: 2em;
	margin: 0 0 0 50px;
}
.file .content ul {
	background-color: rgba(40, 40, 40, 1);
	-webkit-box-shadow: inset 0 0 10px black;
	-moz-box-shadow: inset 0 0 10px black;
	-o-box-shadow: inset 0 0 10px black;
	box-shadow: inset 0 0 10px black;
	padding: 0 0 0 10px;
	margin: 0 0 0 45px;
	position: absolute;
	top:28px; left:0; right:0; bottom: 0;
	overflow: auto;
}
.file .content.ace_editor {
	line-height: 1.333em;
	position: absolute;
	top:28px; left:0; right:0; bottom: 0;
	text-shadow: none;
	font-size: 14px;
}
.godoc {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.godoc > * {
	margin-left: 100px;
}
.godoc pre {
	background-color: #282828;
	padding: 10px 15px;
}
.toggleButton { cursor: pointer; }
.toggle .collapsed { display: block; }
.toggle .expanded { display: none; }
.toggleVisible .collapsed { display: none; }
.toggleVisible .expanded { display: block; }

.ace_lab {
	font-family: "Ubuntu Mono", monospace;
}
.ace_lab .ace_gutter {
	color: #666666;
	border-right: 1px solid #4D4D4D;
	text-shadow: 0 1px 1px #202020;
	overflow: hidden;
	min-width: 45px;
}
.ace_lab .ace_gutter-layer {
	text-align: right;
}
.ace_lab .ace_print-margin {
	background: #232323;
}
.ace_lab .ace_scroller {
	background-color: #282828;
	-webkit-box-shadow: inset 0 0 10px black;
	-moz-box-shadow: inset 0 0 10px black;
	-o-box-shadow: inset 0 0 10px black;
	box-shadow: inset 0 0 10px black;
	padding-left: 5px;
}
.ace_lab .ace_text-layer {
	color: #E6E1DC;
	cursor: text;
}
.ace_lab .ace_cursor {
	border-left: 1px solid #7991E8;
}
.ace_lab .ace_cursor.ace_overwrite {
	background: none repeat scroll 0 0 #766B13;
	border: 1px solid #FFE300;
}
.ace-lab.normal-mode .ace_cursor-layer {
	z-index: 0;
}
.ace_lab .ace_marker-layer .ace_selection {
	background: none repeat scroll 0 0 rgba(221, 240, 255, 0.2);
}
.ace_lab .ace_marker-layer .ace_selected-word {
	border-bottom: 2px solid rgba(255, 255, 0, 1);
}
.ace_lab .ace_marker-layer .ace_bracket {
	border: 1px solid rgba(255, 255, 255, 0.25);
	margin: -1px 0 0 -1px;
}
.ace_lab .ace_marker-layer .ace_active-line {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.02);
}
.ace_lab .ace_keyword {
	color: #CABCAB;
}
.ace_lab .ace_comment {
	color: #888888;
}
.ace_lab .ace_string {
	color: #A0C070;
}
.ace_lab .ace_constant.ace_language,
.ace_lab .ace_constant.ace_numeric {
	color: #A080A0;
}
.ace_lab .ace_punctuation,
.ace_lab .ace_paren {
	color: #ABABAB;
}
